body{
  margin-bottom: 100px;
}
*{
  font-family: arial;
  cursor: help;
}
.image_display{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.image{
  width:auto; 
  height:300px;
}

.header_container{
  display: flex;
  justify-content: center;

}

.header{
  margin:40px;
  display: flex;
  justify-content: center;
  color:white;
  -webkit-text-stroke: .2px red;
  font-family: monaco;
  transform: scale(2,1);
  letter-spacing: -1px; 
  word-spacing: -4px;
  font-size: 20px;
  font-weight: bold;
}

.header_overlap{
  margin-top:38px;
  transform: scale(2,1);
  position: absolute;
}

.header_overlap_link{
  color:red !important;
  opacity: .75;
  text-decoration: none;
  font-family: monaco;
  letter-spacing: -1px; 
  word-spacing: -4px;
  font-size: 20px;
}

.header_overlap_link:hover{
  opacity: .5;
}
.header_overlap_link:active{
  opacity: 1;
  font-size: 21px;
}

.caption{
font-size:13px;
color:grey;
display:none;
}

.image:hover + .caption{
  display:block;
  position: absolute;
  
} 

.nav-bar{
  display:flex;
  justify-content: center;
}
.nav-element{
  padding-right:20px;
  padding-bottom:10px;
  
}


.link{
  color:grey;
  text-decoration: none;
}
.link:hover{
  opacity:.5;
}

.link:active{
  font-size:17px ;
}
.flower{
  display: flex;
  justify-content: center;
  margin-bottom:20px;

}
.flower_center{
  width:7px;
  height:7px;
  background:yellow ;
  z-index: 1;
  border-radius: 60px;
  position:absolute;
}
.flower__head {
  width: 30px;
  height: 10px;
  border-radius: 20px;
  background: lime;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes spin{
  0% {transform: rotate(0deg);}
  25%{transform: rotate(90deg);}
  50%{transform: rotate(180deg);}
  75%{transform: rotate(270deg);}
  100%{transform: rotate(360deg);}
}

.flower__head::after, .flower__head::before {
  content: '';
  position: absolute;
  background: lime;
  border-radius: 20px;
  width: 30px;
  height: 10px;
  transform: rotate(60deg);
}

.flower__head::before {
  transform: rotate(-60deg);
}


.content{
  display: flex;
  justify-content: center;
  
}

.nav
